*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
}

html,
body {
  background-color: black;
  height: 100%;
  font-family: sans-serif;
}

header {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  background: linear-gradient(to left bottom, black, #2e3033);
}

button {
  background-color: grey;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 24px;
  text-align: center;
}

button:hover {
  background-color: rgb(88, 88, 88);
}

#level-name {
  cursor: default;
  color: rgba(0, 0, 0, 0.1);
  font-size: 2em;
  font-family: cursive;
  padding-left: 0.5em;
  padding-top: 0.2em;
  text-shadow: 0px -1px 0px rgb(255 255 255 / 40%);
}

#level-name[data-unsaved="true"]::after {
  margin-left: 0.2em;
  color: firebrick;
  content: "*";
}

#menu-bar {
  margin-right: 1em;
  padding-top: 0.5em;
}

#editor {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: calc(100% - 52px);
}

canvas {
  background-color: green;
  width: 100%;
  height: 100%;
}

#panels {
  background-color: lightblue;
}

/* #region LAYER PANEL */

#layers {
  max-height: 200px;
  overflow: auto;
}

#layers-header {
  display: flex;
  justify-content: space-between;
  color: grey;
  padding: 0.5em;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #555;
}

#layers-header h2 {
  text-transform: uppercase;
  font-size: 100%;
}

#new-layer {
  cursor: pointer;
  font-weight: 900;
}

#new-layer:hover {
  color: white;
}

.layer {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.layer__visibility {

}

/* #endregion LAYER PANEL */
