:root {
  --panel-border-bottom: 1px solid #555;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

html,
body {
  font-family: sans-serif;
}

.btn {
  background-color: grey;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 24px;
  text-align: center;
  transition: all ease 0.1s;
}

.btn-sm {
  padding: 5px 12px;
}

.btn:hover {
  background-color: rgb(88, 88, 88);
}

/* #region HEADER */

header {
  align-items: center;
  background: linear-gradient(to left bottom, black, #2e3033);
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  user-select: none;
}

#level-name {
  cursor: default;
  color: rgba(0, 0, 0, 0.1);
  font-size: 2em;
  font-family: cursive;
  padding-left: 0.5em;
  padding-top: 0.2em;
  text-shadow: 0px -1px 0px rgb(255 255 255 / 40%);
}

#level-name[data-unsaved="true"]::after {
  margin-left: 0.2em;
  color: firebrick;
  content: "*";
}

#menu-bar {
  margin-right: 1em;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

/* #endregion HEADER */

#editor {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

/* #region PANEL */

#panels {
  background-color: lightblue;
}

.panel {
  user-select: none;
}

.panel__header {
  border-bottom: var(--panel-border-bottom);
  color: grey;
  font-size: 100%;
  padding: 0.5em;
  text-transform: uppercase;
}

.panel__actions {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  margin-top: 0.5em;
}

/* #endregion PANEL */

/* #region LAYER PANEL */

#layers {
  max-height: 200px;
  overflow: auto;
}

#layers-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  text-align: center;
  align-items: center;
  border-bottom: var(--panel-border-bottom);
}

#layers-header .panel__header {
  padding: 0;
  border-bottom: none;
}

#new-layer {
  cursor: pointer;
  font-weight: 900;
  transition: color ease 0.1s;
}

#new-layer:hover {
  color: white;
}

#layers-list {
  padding-top: 0.2em;
}

.layer {
  display: grid;
  grid-template-columns: 2fr 9fr;
  padding: 6px 4px;
  cursor: pointer;
  transition: background-color 0.1s linear;
  border-top: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.layer:hover {
  background-color: rgb(202, 233, 243);
}

.layer__visibility {
  background-image: url("eye.svg");
  background-repeat: no-repeat;
  margin-left: 0.3em;
}

.layer__visibility[data-checked="true"] {
  background-image: url("eye-slash.svg");
  position: relative;
  right: 2px;
}

.layer__name {
  text-align: left;
}

.layer__size {
  font-size: 75%;
  color: rgba(255, 255, 255, 0.7);
}

/* #endregion LAYER PANEL */

/* #region INPUT SETTINGS LAYOUT */

.input-settings-layout {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 0.5em;
  gap: 0.5em;
}

.input-settings-layout > label {
  padding: 2px;
}

.input-settings-layout input {
  border-radius: 3px;
  padding: 2px;
  place-self: flex-start;
}

.input-settings-layout input[type="text"] {
  max-width: 10em;
}

.input-settings-layout input[type="number"] {
  max-width: 2.5em;
}

/* #endregion INPUT SETTINGS LAYOUT */

/* #region TOGGLE OPTION */

.toggle-option {
  margin-top: 0.5em;
}

.toggle-option > :first-child {
  margin-inline: 0.5em;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:disabled + .slider {
  background-color: grey;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/* #endregion TOGGLE OPTION */

/* #region MODAL */

/* The Modal (background) */
.modal {
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: none; /* Hidden by default */
  height: 100%; /* Full height */
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  position: fixed; /* Stay in place */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1; /* Sit on top */
}

/* Modal Content */
.modal-content {
  animation-name: animatetop;
  animation-duration: 0.4s;
  background-color: black;
  border-radius: 4px;
  border: 2px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  padding: 0;
  position: relative;
  margin: auto;
  top: 15%;
}

.modal-content.sm {
  width: 20%;
}
.modal-content.md {
  width: 50%;
}
.modal-content.lg {
  width: 80%;
}
.modal-content.fullscreen {
  width: 100%;
}

/* Modal Header */
.modal-header {
  padding: 0.5em;
  border-bottom: 1px solid grey;
}

/* Modal Body */
.modal-body {
  padding: 0.5em;
}

/* Modal Footer */
.modal-footer {
  border-top: 1px solid grey;
  padding: 0.5em;
}

/* The Close Button */
.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: 0.4s;
}

.modal-close:hover,
.modal-close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 15%;
    opacity: 1;
  }
}

/* #endregion MODAL */
